<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Registration</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

</head>

<body>
<div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="sidebar-heading">
            <img th:src="@{/image/food_cpg_icon.png}" class="logo"/>
        </div>
        <span class="nav-heading">Food CPG Management System</span>
        <div class="collapse navbar-collapse nav-actions" id="navbarSupportedContent"
             style="display: contents !important;">
        </div>
    </nav>
    <p></p>
    <div class="container-fluid vh-100">
        <div class="module-heading pl-3 text-center">Registration</div>
        <div class="row justify-content-center mt-3">
            <form class="col-12 ml-65" th:action="@{/save-manufacturer}" th:object="${manufacturer}" method="post">
                <div class="row">
                    <div class="col-8 row form-group">
                        <label class="col-form-label col-2">Company Name:</label>
                        <input class="form-control col-4" type="text" th:field="*{companyName}" />
                        <span class="col-4 text-danger" th:text="*{errors['companyName']}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 row form-group">
                        <label class="col-form-label col-2">Email:</label>
                        <input class="form-control col-4" type="email" th:field="*{email}" />
                        <span class="col-4 text-danger" th:text="*{errors['email']}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 row form-group">
                        <label class="col-form-label col-2">Password:</label>
                        <input class="form-control col-4" type="password" th:field="*{password}">
                        <span class="col-4 text-danger" th:text="*{errors['password']}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 row form-group">
                        <label class="col-form-label col-2">Contact Number:</label>
                        <input class="form-control col-4" type="text" th:field="*{contact}" />
                        <span class="col-4 text-danger" th:if="*{errors['contact'] != null}" th:text="*{errors['contact']}"></span>
                        <span class="col-4 text-danger" th:if="${#fields.hasErrors('contact')}" th:text="${'Invalid value'}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 row form-group">
                        <label class="col-form-label col-2">Address:</label>
                        <textarea class="form-control col-4" type="text" th:field="*{address}"></textarea>
                    </div>
                </div>
                <div class="row mt-2 ml-10">
                    <button class="col-1 btn btn-primary float-right mr-1" name="action" value="submit" type="submit">Register</button>
                    <a class="col-1 float-right mr-1" href="/login"><button class="btn btn-primary" type="button">Cancel</button></a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>