<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Food CPG Management System</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

</head>

<body>

<main role="main" class="container">
    <div class="text-align-center">
        <h1><span th:text="${projectName}"></span></h1>
        <h2><span th:text="'Version : ' + ${projectVersion}"></span></h2>
    </div>
</main>
</body>
</html>