<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.thymeleaf.org" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Analytics</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <div>
        <span class="module-heading">Analytics Management</span>

        <br/><br/>
        <a class="mt-4 ml-4" href="/load-balance-sheet"><button class="btn btn-primary" type="button">Balance Sheet</button></a>

        <br/><br/>
        <a class="mt-4 ml-4" href="/load-order-statistics"><button class="btn btn-primary" type="button">Order Statistics</button></a>

        <br/><br/>
        <a class="mt-4 ml-4" href="/load-inventory-usage"><button class="btn btn-primary" type="button">Inventory Usage</button></a>

        <br/><br/>
        <a class="mt-4 ml-4" href="/load-sales-performance"><button class="btn btn-primary" type="button">Sales Performance</button></a>
    </div>
</div>
</body>
</html>